body {
	font-size: 16px;
	color: #000;
	font-family: 'Oxygen', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-bottom: 15px;
  font-size: 1.5em;
  text-align: center;
}


.section {
  background-color: #c7c7c7;    
  position: relative;    
  /*height: 100%;    */
  /*margin-right: 1%;    
  margin-left: 1%; */   
  margin-bottom: 15px;    
  padding: 10px;    
  padding-top: 35px;
}

.section h2 {
  text-align: center;
  font-size: 1.3em;
  margin-top: -20px;
 }

.row {
  width: 100%;
  padding: 10px;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.3%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}


/** HEADER **/
#header-nav{
	background-color: #d147a3;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	padding-top: 15px;
}

.navbar-brand h1 { /*Restaurant Name*/ 
font-family: 'Oxygen', serif;
color: #ffcc00;
font-size: 1.8em;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffcc00;
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover {
  background: #ffcc00;
  color: #003380;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffcc00;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-header button.navbar-toggle:hover {
  background-color: #003380;
}

.navbar-header button.navbar-toggle:select {
background-color: #003380;
}
/* END HEADER */